header,nav,th{
    text-align:center
}
footer,header{
    font-size:xx-large;
    font-weight:200;
    font-family:monospace;
    color:#f5f5f5;
    background-color:#5f9ea0
}
nav{
    background-color:beige;
    font-size:larger
}
body{width:1250px;
    margin:10px auto;
    text-align:justify
}
h1{
    background-color:#e6e6fa;
    font-size:x-large;
    font-weight:1;
    color:#000
}
h2{
    font-size:16px;
    padding-left:16px
}
article{
    padding-left:25px
}
footer{
    background-color:#000
}