html{
    color:white;
}
footer,header{
    font-size:xx-large;
    font-weight:200;
    font-family:monospace;
    color:#f5f5f5;
    background-color:#5f9ea0;
    width:100%;
}
#todo{
    width: 70%;  
    padding: 20px;  
    margin: 50px auto;  
    border-radius: 15px;    
    -moz-border-radius: 15px;  
    -webkit-border-radius: 15px;  
}
footer{
    background-color:#000
}
span.obligatorio{
    color: red;
}