header{
    font-size: xx-large;
    font-weight: bolder;
    font-family: cursive;
    color:indianred;
    text-align: center;
    background-color: lightgreen
}
nav{
    text-align: center;
    background-color: khaki;
    font-size: larger;
}
h1{
    background-color: wheat;
    font-size: x-large;
    font-weight: bold;
    padding-left: 16px;
    color: darksalmon;
}
table{
    border-style: dotted;
    border-width: thick;
    border-color: firebrick;
}
footer{
    background-color: black;
    color: white;
}
