html{
  color:white;
}
header,nav,th{
  text-align:center;
}
footer,header{
  font-size:xx-large;
  font-weight:200;
  font-family:monospace;
  color:#f5f5f5;
  background-color:#5f9ea0
}
nav{
  background-color:beige;
  font-size:larger
}
body:after {
    content: "Steelers"; 
    font-size: 15em;  
    color: rgba(172, 165, 133, 0.4);
    z-index: 9999;
   
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
      
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
} 
body{
  background-color: black; 
  width:1250px;
  margin:10px auto;
  text-align:justify;
}
h1{
  background-color:#e6e6fa;
  font-size:x-large;
  font-weight:1;
  color:#000
}
h2{
  font-size:16px;
  padding-left:16px
}
article{
  padding-left:25px
}footer{
  background-color:#000;
}
.div-imagen {
  display:inline-block;
  position:relative;
}

.div-imagen > div {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
}

.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}
#div1 {
  width: 200px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}