html{
    color:white;
}
footer,header{
    font-size:xx-large;
    font-weight:200;
    font-family:monospace;
    color:#f5f5f5;
    background-color:#5f9ea0;
    width:100%;
}
body{
    width:100%;
    margin:auto;
}
footer{
    background-color:#000
}